<div class="hpanel stats">
    <div class="panel-body h-200">
        <div class="stats-title pull-left">
            <h4>Total Users</h4>
        </div>
        <div class="stats-icon pull-right">
            <i class="pe-7s-share fa-4x"></i>
        </div>
        <div class="m-t-xl">
            <h3 class="m-b-xs text-success" ng-bind="$ctrl.data.total || 0 | number"></h3>
                            <span class="font-bold no-margins">
                                Unique users across all campaigns
                            </span>

            <div class="progress m-t-xs full progress-small" ng-init="percent = ($ctrl.data.uniqueUsers || 0)/($ctrl.data.total || 1)">
                <div style="width: {{percent}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{percent}}"
                     role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">{{percent}}% Unique Users</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <small class="stats-label">Today </small>
                    <h4>{{$ctrl.data.uniqueUsersToday || 0}}/<span class="text-success">{{$ctrl.data.usersToday || 0}}</span> </h4>
                </div>

                <div class="col-xs-4">
                    <small class="stats-label">Yesterday</small>
                    <h4>{{$ctrl.data.uniqueUsersYesterday || 0}}/<span class="text-success">{{$ctrl.data.usersYesterday || 0}}</span></h4>
                </div>

                <div class="col-xs-4">
                    <small class="stats-label">7 Days</small>
                    <h4>{{$ctrl.data.uniqueUsersWeek || 0}}/<span class="text-success">{{$ctrl.data.usersWeek || 0}}</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>