<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content" animate-panel effect="zoomIn"  ng-if="isLoaded">
        <div class="row">
            <div class="col-lg-12 text-right">
                <span> Choose a Campaign</span>
                <select name="selectedCampaign" ng-model="selectedCampaign" ng-change="campaignChange(selectedCampaign)">
                    <option value="{{campaign.rid}}" ng-repeat="campaign in campaigns" ng-selected="campaign.rid == selectedCampaign"> {{campaign.title || "Campaign (" + campaign.rid + ")"}} : {{campaign.createdOn | date: 'mm.dd.yyyy'}} - {{campaign.inActiveDate | date: 'mm.dd.yyyy' || 'Till Date'}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <analytics-layout campaign-id="selectedCampaign"></analytics-layout>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>
