<div id="logo" class="light-version">
    <a ng-href="#"><span class="logo"></span></a>
</div>
<nav role="navigation">
    <!-- <minimaliza-menu></minimaliza-menu> -->
    <div class="small-logo">
        <a ng-href="#"><span class="logo"></span></a>
    </div>
    <div class="mobile-menu" ng-if="$root.userInfo.user_id">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':active == 'home'}"><a class="page-scroll" href="#page-top"><i class="pe-7s-home"></i> Home</a></li>
                <li ng-class="{'active':active == 'analytics'}"><a class="page-scroll" page-scroll ui-sref="bitraz.main.analytics"><i class="pe pe-7s-graph1 text-danger"></i> Analytics</a></li>
                <li ng-class="{'active':active == 'campaigns'}"><a class="page-scroll" page-scroll ui-sref="bitraz.main.campaigns"><i class="pe pe-7s-portfolio text-info"></i> Campaigns</a></li>
                <li ng-class="{'active':active == 'security'}"><a class="page-scroll" page-scroll ui-sref="bitraz.main.settings"><i class="pe-7s-config"></i> Security </a></li>
                <li><a class="page-scroll" page-scroll ng-click="logout()"><i class="pe-7s-power"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-right"  ng-if="$root.userInfo.user_id">
        <ul class="nav navbar-nav no-borders">
            <li uib-dropdown>
                <a ui-sref="bitraz.main.index" uib-dropdown-toggle>
                    <i class="pe-7s-home"></i>
                </a>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle>
                    <i class="pe-7s-graph"></i>
                </a>
                <div uib-dropdown-menu class="hdropdown bigmenu animated flipInX">

                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <a ui-sref="bitraz.main.analytics">
                                    <i class="pe pe-7s-graph1 text-danger"></i>
                                    <h5>Analytics</h5>
                                </a>
                            </td>
                            <td>
                                <a ui-sref="bitraz.main.campaigns">
                                    <i class="pe pe-7s-portfolio text-info"></i>
                                    <h5>Campaigns</h5>
                                </a>
                            </td>


                        </tr>

                        </tbody>
                    </table>



                </div>
            </li>
            <li>
                <a ui-sref="bitraz.main.settings">
                    <i class="pe-7s-config"></i>
                </a>
            </li>
            <li>
                <a ng-click="logout()">
                    <i class="pe-7s-power"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>




