@inherits System.Web.Mvc.WebViewPage

@*@model IEnumerable<string>
@{
    Layout = null;
}
@foreach (string templateName in Model)
{
    <script type="text/ng-template" id="~/dist/admin/@templateName">
        @Html.Partial("~/dist/admin/" + templateName + ".cshtml")
    </script>
}*@
<script type="text/ng-template" id="~/dist/admin/admin">
    @Html.Partial("~/dist/admin/admin.cshtml")
</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inline</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
