@model string
@{
    Layout = null;
}

<script type="text/ng-template" id="~/dist/admin/admin">
    @Html.Partial(@Model)
</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Template</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
