@model @Analytics.Models.ADDClientView
@{
    ViewBag.Title = "Admin Home Page";
    //Layout = null;
    Layout = "~/Views/Shared/_analyticsLayout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentellela Alela! | </title>

    <!-- Bootstrap -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../Assets/ThemeAnalytics/gentelella-master/build/css/custom.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/Flot/jquery.flot.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/Flot/jquery.flot.time.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/moment/min/moment.min.js"></script>
    <script src="../Assets/ThemeAnalytics/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../Assets/ThemeAnalytics/gentelella-master/build/js/custom.min.js"></script>

    <script type="text/javascript">

        var arr = [];
        for (var i = 0; i < 1000000; i++) {
            arr.push(Math.random());
        }
        function validateEmail(email) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(email);
        }

        function validateUsername(fn) {
            var pattern = new RegExp(/^[a-zA-Z_ ]+$/i);
            return pattern.test(fn);
        }
        function AddClientfun() {
           
            var username = document.getElementById('txtfirst').value;
            var email = document.getElementById('txtemail').value;
            var pwd = document.getElementById('txtpassword').value;
            alert(pwd);
            var VUr = validateUsername(username);
            var Ver = validateEmail(email);

            var error = "";
            if (username == "") {
                error += "Please Enter UserName\n\n";
            }
        if (email == "") {
            error += "Please Enter Your Email\n\n";
        }
        if (pwd == "") {
            error += "Please Enter Your Password\n\n";
        }
        if (VUr == false) {
            error += "Please Enter valid UserName\n\n";
        }
            if (Ver == false)
            {
                error += "Please Enter valid Email\n\n";
            }
        if (error == "") {
           // $('#divLoading').show();
            $.ajax({
                type: "POST",
                url: '/Admin/AddClient',
                data: { username:username, email: email, password: pwd },
                success: function (response) {
                    $('#divLoading').hide();
                    //var data = response.split('~');

                    //if (data[0] == 'Success') {
                    //    window.location.replace(data[1]);
                    //}
                    //else {
                    //    alert(data[1]);
                    //}

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }
        else {
            alert(error);
        }

    }


    </script>
</head>
<body class="nav-md">
    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtfirst">
                                    User Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="txtfirst" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtemail">
                                    Email <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="txtemail" name="email" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtpassword">
                                    Password <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" id="txtpassword" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    @*<input type="button" onclick="AddClientfun()" class="btn btn-success" value="Submit" />*@
                                    <input type="button" value="Submit" onclick="AddClientfun()" class="btn btn-success" />

                                </div>
                            </div>

                        </form>

                        <br/>
                        <br/>
                        <div>
                            @*@if (Model.clientLst.Count != 0)
                            {
                                <table cellpadding="0" cellspacing="0" style="width:80%;text-align:left;position: center">
                                    <th>PK_ClientID</th>
                                    <th>User Name</th>
                                    <th>Email</th>

                                    @foreach (var item in Model.clientLst)
                                    {
                                        <tr>
                                            <td style="width:25%;border-bottom:1px solid #DED;padding:15px 0px;">@item.PK_ClientID</td>
                                            <td style="width:25%;border-bottom:1px solid #DED;padding:15px 0px;">@item.UserName</td>
                                            <td style="width:25%;border-bottom:1px solid #DED;padding:15px 0px;">@item.Email</td>

                                        </tr>
                                    }
                                </table>
                            }
                            else
                            {
                                <div class="text-delete-edit"><span>No People Found...</span></div>
                            }*@
                        </div>
                    </div>


   
                </div>

            </div>
          
        </div>

    </div>
</body>
</html>
